Source: wp360-udiskie
Section: misc
Priority: optional
Maintainer: Overdigit <info@overdigit.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
#Homepage: <insert the upstream URL, if relevant>
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/wp360-packages.git
#Vcs-Browser: https://salsa.debian.org/debian/wp360-packages

Package: wp360-udiskie
Architecture: all
Maintainer: Overdigit <info@overdigit.com>
Depends: ${misc:Depends}, udiskie
Description: Package containing udiskie configuration for the WP360 PLC.
